$red: #D82E2B;
$darkblue: #0F5EF9;
$offwhite: #F8FBFE;
$navy: #0D1A2E;
$lightgrey: #8A9292;
$black: #0B1A33;


%whitebutton {
    color: $navy;
    background-color: $offwhite;
    border: 1px solid $lightgrey;
    border-radius: 5px;
    height: 30px;
    padding: 5%;
}

header {
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-content: center;
    background-color: $offwhite;
    width: 1200px;
    margin: auto;
    .nav{
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-self: center;
        a{
            margin: 0 8%;
            text-decoration: none;
            color: black;
        }
        .new{
            display: flex;
            align-content: center;
        }
        button{
            font-size: .1em;
            width: 40px;
            align-self: flex-start;
            border: none;
            background-color: $red;
            color: white;
            border-radius: 8px;
        }
    }
    .account {
        display: flex;
        width: 30%;
        align-self: center;
        a button{
        @extend %whitebutton;
        margin: 1%;
        height: auto;
        
       
        margin-left: 20px;
        font-size: 1.5em;
        
        }
    }
}